<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="userDao" class="com.huilaila.dao.impl.UserDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="tagDao" class="com.huilaila.dao.impl.TagDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="userTagDao" class="com.huilaila.dao.impl.UserTagDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="jobDao" class="com.huilaila.dao.impl.JobDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="companyDao" class="com.huilaila.dao.impl.CompanyDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="resumeDao" class="com.huilaila.dao.impl.ResumeDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="jobFavoriteDao" class="com.huilaila.dao.impl.JobFavoriteDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="jobApplicationDao" class="com.huilaila.dao.impl.JobApplicationDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="noteDao" class="com.huilaila.dao.impl.NoteDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="noteFavoriteDao" class="com.huilaila.dao.impl.NoteFavoriteDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="productDao" class="com.huilaila.dao.impl.ProductDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="shopDao" class="com.huilaila.dao.impl.ShopDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="commentDao" class="com.huilaila.dao.impl.CommentDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="addressDao" class="com.huilaila.dao.impl.AddressDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="orderDao" class="com.huilaila.dao.impl.OrderDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
</beans>
