<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<bean id="userService" class="com.huilaila.service.impl.UserService">
		<property name="userDao" ref="userDao" />
	</bean>
	
	<bean id="tagService" class="com.huilaila.service.impl.TagService">
		<property name="tagDao" ref="tagDao" />
	</bean>
	
	<bean id="userTagService" class="com.huilaila.service.impl.UserTagService">
		<property name="userTagDao" ref="userTagDao" />
	</bean>
	
	<bean id="jobService" class="com.huilaila.service.impl.JobService">
		<property name="jobDao" ref="jobDao" />
	</bean>
	
	<bean id="companyService" class="com.huilaila.service.impl.CompanyService">
		<property name="companyDao" ref="companyDao" />
	</bean>
	
	<bean id="resumeService" class="com.huilaila.service.impl.ResumeService">
		<property name="resumeDao" ref="resumeDao" />
	</bean>
	
	<bean id="jobApplicationService" class="com.huilaila.service.impl.JobApplicationService">
		<property name="jobApplicationDao" ref="jobApplicationDao" />
	</bean>
	
	<bean id="jobFavoriteService" class="com.huilaila.service.impl.JobFavoriteService">
		<property name="jobFavoriteDao" ref="jobFavoriteDao" />
	</bean>
</beans>
